logs
project/project
project/target
target
tmp
.history
*.orig
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
.cache
.target/
bin/
.DS_Store
*.iml
log.dir_IS_UNDEFINED/
app_home_IS_UNDEFINED/
/.vagrant
node*.out.txt
native/
__rdapi_properties_it.txt
hs_err_pid68543\.log
datafeed/src/test/resources/it/data/download/
